<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>Lista Auto</h1>
</div>

<!-- SEARCH FORM -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title border-bottom border-italia">
            <i class="fa fa-search"></i> Cerca
        </h5>
        
        <form #searchForm="ngForm">
            <div class="row mt-40 justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="cc">Cc</label>
                        <input type="text" class="form-control" id="cc" [(ngModel)]="search.cc" name="cc" #cc="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="colore">Colore</label>
                        <input type="text" class="form-control" id="colore" [(ngModel)]="search.colore" name="colore" #colore="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="proprietario">Proprietario</label>
                        <input type="number" class="form-control" id="proprietario" [(ngModel)]="search.proprietario" name="proprietario" #proprietario="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="tipo">Tipo</label>
                        <input type="text" class="form-control" id="tipo" [(ngModel)]="search.tipo" name="tipo" #tipo="ngModel">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- TABLE -->
<table class="table mt-40">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">cc</th>
            <th scope="col">colore</th>
            <th scope="col">proprietario</th>
            <th scope="col">tipo</th>
            <th>Rimuovi</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list | search: { 'cc': search.cc, 'colore': search.colore, 'proprietario': search.proprietario, 'tipo': search.tipo }">
            <!-- ATTRIBUTES -->
            <td>
                <a [routerLink]="['/autos', item._id]">{{item._id}}</a>
            </td>
            <td>{{item.cc }}</td>
            <td>{{item.colore }}</td>
            <td>{{item.proprietario }}</td>
            <td>{{item.tipo }}</td>

            <!-- DELETE BUTTON -->
            <td>
                <button class="btn btn-outline-primary btn-xs" data-toggle="modal" data-target="#deleteModal" (click)="selectId(item._id)">
                    Rimuovi
                </button>
            </td>
        </tr>
    </tbody>
    <div class="no-result" *ngIf="(list | search: {   'cc': search.cc ,  'colore': search.colore ,  'proprietario': search.proprietario ,  'tipo': search.tipo  }).length == 0">
        Nessun elemento trovato
    </div>
</table>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fa fa-times-circle"></i>&nbsp;&nbsp;Rimuovi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Vuoi rimuovere questo elemento?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteItem()">SI</button>
            </div>
        </div>
    </div>
</div>

<!-- BUTTON -->
<button class="btn btn-primary text-center pull-right mb-20" routerLink="/autos/new">
    <span>
        <i class="fa fa-plus"></i>
    </span>
</button>

<div class="clearfix"></div>